<ion-view view-title="Details" class="bghome">
  <ion-content>
   <div class="bgwhite">
            <h6 class="hdtitle latosemibold">Captain America:The Winter Solider,English(A)</h6>
    <div class="info-details">
        <div class="row">
            <div class="col f12">
                <span class="pl10 margin-0 latothin">143 min<span class="pl5">|</span></span>
                <span class="latothin">Action,Drama |</span>
                <span class="latothin">4 May 2012</span>
            </div>
            <div class="col col-20"><p><i class="icon ion-star energized"></i><i class="icon ion-star energized"></i><i class="icon ion-star energized"></i><i class="icon ion-star energized"></i><i class="icon ion-star stable"></i></p></div>
        </div>
     </div>
    <div>
       <div class="pos">
            <i class="icon ion-ios7-heart-outline heart"></i><img src="img/dp.png" height="auto" width="100%"/>
        </div>
        <div class="bdrleft pos">
                <div class="row tac">
                    <div class="col">
                        <button class="button ratebtn">
                              RATE
                        </button>
                    </div>
                    <div class="col">
                        <button class="button ratebtn">
                              RECOMMEND
                        </button>
                    </div>
                    <div class="col col-10">
                        <i class="icon ion-android-share"></i>
                    </div>
                </div>
                <div class="circle detailsicon tac"><i class="icon ion-film-marker"></i></div>
                <div class="ml7 f12">
                    <label class="latosemibold">DETAILS</label>
                    <div><label class="f12 latosemibold">GENRE:</label><span>Action ,Drama,Sci-Fi</span></div>
                    <div><label class="f12 latosemibold">RELEASE DATE:</label><span>4 May 2012</span></div>
                    <div><label class="f12 latosemibold">DURATION:</label><span>143 mins</span></div>
                    <div><label class="f12 latosemibold">DIRECTOR:</label><span>Anthony Russo and Joe Russo</span></div>
                    <div><label class="f12 latosemibold">WRITERS:</label><span>Christopher Markus(Screenplay),Stephen McFeely(screenplay)</span></div>
                    <div><label class="f12 latosemibold">CAST & CREW:</label><span>Christopher Markus(Screenplay),Stephen McFeely(screenplay)Christopher Markus(Screenplay),Stephen McFeely(screenplay)</p></div>
                    <div><label class="f12 latosemibold">SUMMARY:</label><span>Christopher Markus(Screenplay),Stephen McFeely(screenplay),Christopher Markus(Screenplay),Stephen McFeely(screenplay)</span></div>
                </div>
                <div class="circle expicon tac bold">%</div>
                <div class="ml7 mt10">
                    <p><span class="bold">EXPERT RATINGS</span></p>
                    <div class="bghover">Taran Adarsh<span class="floatright"><i class="icon ion-star energized"></i><i class="icon ion-star energized"></i><i class="icon ion-star energized"></i><i class="icon ion-star energized"></i><i class="icon ion-star"></i></span></div>
                    <div class="bghover">Taran Adarsh<span class="floatright"><i class="icon ion-star energized"></i><i class="icon ion-star energized"></i><i class="icon ion-star energized"></i><i class="icon ion-star energized"></i><i class="icon ion-star"></i></span></div>
                    <div class="bghover">Taran Adarsh<span class="floatright"><i class="icon ion-star energized"></i><i class="icon ion-star energized"></i><i class="icon ion-star energized"></i><i class="icon ion-star"></i><i class="icon ion-star"></i></span></div>
                    <div class="bghover">Taran Adarsh<span class="floatright"><i class="icon ion-star energized"></i><i class="icon ion-star energized"></i><i class="icon ion-star"></i><i class="icon ion-star"></i><i class="icon ion-star"></i></span></div>
                </div>
                <div class="circle twittericon tac"><i class="icon ion-social-twitter"></i></div>
                <div class="ml7 mt10">
                    <p><span class="bold">TWITTER FEEDS</span></p>
                    <div class="list">
                        <a class="item item-avatar" href="#">
                          <img src="img/pp.jpg"/>
                          <span class="bold">Venkman</span><span class="f12">@60Minutes<span class="floatright">26m</span></span>
                          <p>Back off, man. I'm a scientist.</p>
                        </a>
                    </div>
                     <div class="list">
                        <a class="item item-avatar" href="#">
                          <img src="img/pp.jpg"/>
                          <span class="bold">Venkman</span><span class="f12">@60Minutes<span class="floatright">6m</span></span>
                          <p>Back off, man. I'm a scientist.</p>
                        </a>
                    </div>
                     <div class="list">
                        <a class="item item-avatar" href="#">
                          <img src="img/pp.jpg"/>
                          <span class="bold">Venkman</span><span class="f12">@60Minutes<span class="floatright">7m</span></span>
                          <p>Back off, man. I'm a scientist.</p>
                        </a>
                    </div>
                    <div>
                       <button class="button ratebtn floatright">
                        LOAD MORE
                        </button>
                    </div>
                </div>
                <div class="circle cmticon tac"><i class="icon ion-compose"></i></div>
                <div class="ml7 mt17">
                    <p><span class="bold">COMMENTS</span></p>
                    <div class="list">
                        <a class="item item-avatar" href="#">
                          <img src="img/pp.jpg"/>
                          <span class="bold">Venkman</span><span class="f12">@60Minutes<span class="floatright">26m</span></span>
                          <p>Back off, man. I'm a scientist.</p>
                        </a>
                    </div>
                     <div class="list">
                        <a class="item item-avatar" href="#">
                          <img src="img/pp.jpg"/>
                          <span class="bold">Venkman</span><span class="f12">@60Minutes<span class="floatright">6m</span></span>
                          <p>Back off, man. I'm a scientist.</p>
                        </a>
                    </div>
                    <div>
                        <p class="bold">12 more comments</p>
                    </div>
                </div>
            </div>
            <div class="cmtbox list">
                
                  <div class="item item-input-inset">
                    <label class="item-input-wrapper">
                      <input type="text" placeholder="Write a comment...">
                    </label>
                    <button class="button button-small icon ion-chatbox">
                      
                    </button>
                  </div>


            </div>
    </div>
    </div>
  </ion-content>
</ion-view>
