<ion-view view-title="Details">
  <ion-content>
    <div>
        <p class="hdtitle">Captain America:The Winter Solider,English(A)</p>
    </div>
    <div class="row f12">
        <div class="col"><span class="pl5">143 min</span><span class="pl20">|</span></div>
        <div class="col"><span>Action,Drama |</span></div>
        <div class="col"><span>4 May 2012</span></div>
        <div class="col col-20"><p><i class="icon ion-star energized"></i><i class="icon ion-star energized"></i><i class="icon ion-star energized">          </i><i class="icon ion-star energized"></i><i class="icon ion-star stable"></i></p></div>
    </div>
    <div>
        <img src="img/hny.jpg" height="100%" width="100%"/>
        <div class="bdrleft pos">
                <div class="row tac">
                    <div class="col">
                        <button class="button ratebtn">
                              RATE
                        </button>
                    </div>
                    <div class="col">
                        <button class="button ratebtn">
                              RECOMMEND
                        </button>
                    </div>
                </div>
                <div class="circle detailsicon tac"><i class="icon ion-film-marker"></i></div>
                <div class="ml7">
                    <p><span class="bold">DETAILS</span></p>
                    <div><span class="bold">GENRE:</span>Action ,Drama,Sci-Fi</div>
                    <div><span class="bold">RELEASE DATE:</span>4 May 2012</div>
                    <div><span class="bold">DURATION:</span>143 mins</div>
                    <div><span class="bold">DIRECTOR:</span>Anthony Russo and Joe Russo</div>
                    <div><span class="bold">WRITERS:</span>Christopher Markus(Screenplay),Stephen McFeely(screenplay)</div>
                    <div><span class="bold">CAST & CREW:</span>Christopher Markus(Screenplay),Stephen McFeely(screenplay)Christopher Markus(Screenplay),Stephen McFeely(screenplay)</div>
                    <div><span class="bold">SUMMARY:</span>Christopher Markus(Screenplay),Stephen McFeely(screenplay),Christopher Markus(Screenplay),Stephen McFeely(screenplay)</div>
                </div>
                <div class="circle expicon tac bold">%</div>
                <div class="ml7 mt10">
                    <p><span class="bold">EXPERT RATINGS</span></p>
                    <div class="bghover">Taran Adarsh<span class="floatright"><i class="icon ion-star energized"></i><i class="icon ion-star energized"></i><i class="icon ion-star energized"></i><i class="icon ion-star energized"></i><i class="icon ion-star"></i></span></div>
                    <div class="bghover">Taran Adarsh<span class="floatright"><i class="icon ion-star energized"></i><i class="icon ion-star energized"></i><i class="icon ion-star energized"></i><i class="icon ion-star energized"></i><i class="icon ion-star"></i></span></div>
                    <div class="bghover">Taran Adarsh<span class="floatright"><i class="icon ion-star energized"></i><i class="icon ion-star energized"></i><i class="icon ion-star energized"></i><i class="icon ion-star"></i><i class="icon ion-star"></i></span></div>
                    <div class="bghover">Taran Adarsh<span class="floatright"><i class="icon ion-star energized"></i><i class="icon ion-star energized"></i><i class="icon ion-star"></i><i class="icon ion-star"></i><i class="icon ion-star"></i></span></div>
                </div>
                <div class="circle twittericon tac"><i class="icon ion-social-twitter"></i></div>
                <div class="ml7 mt10">
                    <p><span class="bold">TWITTER FEEDS</span></p>
                    <div class="list">
                        <a class="item item-avatar" href="#">
                          <img src="img/pp.jpg"/>
                          <span class="bold">Venkman</span><span class="f12">@60Minutes<span class="floatright">26m</span></span>
                          <p>Back off, man. I'm a scientist.</p>
                        </a>
                    </div>
                     <div class="list">
                        <a class="item item-avatar" href="#">
                          <img src="img/pp.jpg"/>
                          <span class="bold">Venkman</span><span class="f12">@60Minutes<span class="floatright">6m</span></span>
                          <p>Back off, man. I'm a scientist.</p>
                        </a>
                    </div>
                     <div class="list">
                        <a class="item item-avatar" href="#">
                          <img src="img/pp.jpg"/>
                          <span class="bold">Venkman</span><span class="f12">@60Minutes<span class="floatright">7m</span></span>
                          <p>Back off, man. I'm a scientist.</p>
                        </a>
                    </div>
                    <div>
                       <button class="button ratebtn floatright">
                        LOAD MORE
                        </button>
                    </div>
                </div>
                <div class="circle cmticon tac"><i class="icon ion-compose"></i></div>
                <div class="ml7 mt17">
                    <p><span class="bold">COMMENTS</span></p>
                    <div class="list">
                        <a class="item item-avatar" href="#">
                          <img src="img/pp.jpg"/>
                          <span class="bold">Venkman</span><span class="f12">@60Minutes<span class="floatright">26m</span></span>
                          <p>Back off, man. I'm a scientist.</p>
                        </a>
                    </div>
                     <div class="list">
                        <a class="item item-avatar" href="#">
                          <img src="img/pp.jpg"/>
                          <span class="bold">Venkman</span><span class="f12">@60Minutes<span class="floatright">6m</span></span>
                          <p>Back off, man. I'm a scientist.</p>
                        </a>
                    </div>
                    <div>
                        <p class="bold">12 more comments</p>
                    </div>
                </div>
            </div>
            <div class="cmtbox">
                <form name="myForm" method="POST">
                    <div class="list">
                     <label class="item item-input">
                         <input type="text" name="myFormFirstName" placeholder="Write your comment..."><i class="icon ion-compose"></i>
                    </label>
                     <button class="button button-small">
      Submit
    </button>
                    
                    </div>
                </form>
            </div>
    </div>
  </ion-content>
</ion-view>
