<ion-view class="bghome">
  <ion-content>
      <div class="pos moviebg">
          <img src="img/hny.jpg" height="auto" width="100%"/>
          <div class="row mtitle gradientbg">
               <div class="col col-80 light">
                <h6 class="margin-0 light latosemibold">FEATURED</h6>
                   <h6 class="latothin light">HAPPY NEW YEAR,Hindi (UA)</h6>
               </div>
               <div class="col col-bottom">
                  <p><i class="icon ion-star energized"></i><i class="icon ion-star energized"></i><i class="icon ion-star energized"></i><i                             class="icon ion-star energized"></i><i class="icon ion-star stable"></i></p>
               </div>
         </div>
       </div>
       <div class="tab-menu tac">
           <div class="row">
               <div class="col">
                   <div class="darkbg light">IN THEATERS</div>
               </div>
               <div class="col">
                   <div class="darkbg light">COMING SOON</div>
               </div>
           </div>
       </div>
       <div class="menu-list">
       <div class="row">
           <div class="col">
               <div class="p5">
               <a href="#/app/details"><img src="img/killdil.jpg"  height="auto" width="100%"/></a>
                   <div class="row bgwhite detail">
                       <div class="col col-70"><span class="fxsmall latobold">MARY..</span></div>
                       <div class="col f12 fr"><i class="icon ion-star energized"></i><i class="icon ion-star energized"></i><i class="icon ion-star energized"></i><i class="icon ion-star energized"></i><i class="icon ion-star"></i></div>
                   </div>
               </div>
               <div class="p5">
               <a href="#/app/details"><img src="img/killdil.jpg" height="auto" width="100%"/></a>
                    <div class="row bgwhite detail">
                       <div class="col col-70"><span class="fxsmall latobold">HIGH</span></div>
                       <div class="col f12 fr"><i class="icon ion-star energized"></i><i class="icon ion-star energized"></i><i class="icon ion-star energized"></i><i class="icon ion-star energized"></i><i class="icon ion-star"></i></div>
                   </div>
               </div>
               <div class="p5">
               <a href="#/app/details"><img src="img/killdil.jpg" height="auto" width="100%"/></a>
                    <div class="row bgwhite detail">
                       <div class="col col-70"><span class="fxsmall latobold">KILL DIL</span></div>
                       <div class="col f12 fr"><i class="icon ion-star energized"></i><i class="icon ion-star energized"></i><i class="icon ion-star energized"></i><i class="icon ion-star energized"></i><i class="icon ion-star"></i></div>
                   </div>
               </div>
           </div>
           <div class="col">
               <div class="p5">
                   <a href="#/app/details"><img src="img/killdil.jpg" height="auto" width="100%"/></a>
                       <div class="row bgwhite detail">
                           <div class="col col-70"><span class="fxsmall latobold">KILL DIL</span></div>
                           <div class="col f12 fr"><i class="icon ion-star energized"></i><i class="icon ion-star energized"></i><i class="icon ion-star energized"></i><i class="icon ion-star energized"></i><i class="icon ion-star"></i></div>
                       </div>
              </div>
              <div class="p5">
                   <a href="#/app/details"><img src="img/killdil.jpg" height="auto" width="100%"/></a>
                   <div class="row bgwhite detail">
                       <div class="col col-70"><span class="fxsmall latobold">MARY..</span></div>
                       <div class="col f12 fr"><i class="icon ion-star energized"></i><i class="icon ion-star energized"></i><i class="icon ion-star energized"></i><i class="icon ion-star energized"></i><i class="icon ion-star"></i></div>
                   </div>
               </div>
               <div class="p5">
                   <a href="#/app/details"><img src="img/killdil.jpg" height="auto" width="100%"/></a>
                    <div class="row bgwhite detail">
                       <div class="col col-70"><span class="fxsmall latobold">HIGH</span></div>
                       <div class="col f12 fr"><i class="icon ion-star energized"></i><i class="icon ion-star energized"></i><i class="icon ion-star energized"></i><i class="icon ion-star energized"></i><i class="icon ion-star"></i></div>
                   </div>
               </div>
           </div>
        <!--<ion-tabs class="">

              <ion-tab title="IN THEATERS">
                 Tab 1 content 
                 <img src="img/killdil.jpg" height="100%" width="100%"/>
                  <img src="img/hny.jpg" height="100%" width="100%"/>
              </ion-tab>

              <ion-tab title="COMING SOON">
                 Tab 2 content 
                 <img src="img/killdil.jpg" height="100%" width="100%"/>
              </ion-tab>
  
         </ion-tabs>-->
       </div>
       </div>
      
  </ion-content>
</ion-view>