<ion-view class="bghome">
  <ion-content class="no-header">
<!--
    <ion-list>
      <ion-item ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.id}}">
        {{playlist.title}}
      </ion-item>
    </ion-list>
-->
 <div id="profile" class="tac">
    <img class="profilepic" src="img/pp.jpg"/><div class="circle"><i class="icon ion-checkmark"></i></div>
     <div class="light"><h6 class="pname">Andrea Pinter</h6><i class="icon ion-location"></i><span class="pl5 latothin f12">Miami Beach,FL</span></div>
 </div>
 <div class="row tac light bgopacity mt-10">
     <div class="col"><h3 class="latosemibold light margin-0">23</h3><h6 class="latothin light margin-0">Rated</h6></div>
     <div class="col"><h3 class="latosemibold light margin-0">11</h3><h6 class="latothin light margin-0">Recommended</h6></div>
     <div class="col"><h3 class="latosemibold light margin-0">935</h3><h6 class="latothin light margin-0">Friends</h6></div>
 </div>
 <div class="cards">
       <div class="pos">
            <i class="icon ion-ios7-heart-outline heart"></i><img src="img/gotg.jpg" height="auto" width="100%"/>
       </div>
        <div class="row bgwhite">
           <div class="col col-90">
            <h6 class="margin-0 latosemibold">Guardians of the galaxy</h6>
               <h6 class="margin-0"><i class="icon ion-star energized"></i><i class="icon ion-star energized"></i><i class="icon ion-star energized"></i><i class="icon ion-star energized"></i><i class="icon ion-star stable"></i><span class="pl5 latothin fsmaller">Your ratings</span></h6>
           </div>
           <div class="col">
               <h6 class="margin-0 latothin fsmall">1d</h6>
           </div>
        </div>
</div>
 <div class="pos">
    <i class="icon ion-ios7-heart-outline heart"></i><img src="img/gunday.jpg" height="auto" width="100%"/>
 </div>
  </ion-content>
</ion-view>