<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bg">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
      
       <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-search" menu-toggle="left">
        </button>
      </ion-nav-buttons>
      
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bg">
    
    </ion-header-bar>
    <ion-content class="bg">
     
      <div class="tac bg pos">
            <img class="menupic" src="img/pp.jpg"/><div class="circle menu-circle bgpink">20</div>
             <div class="light"><p class="pname">Andrea Pinter</p><p><i class="icon ion-location"><span class="pl5 f12">Miami Beach,FL</span></i></p>              </div>
     </div>
      <ion-list>
       <div class="menu-item pos bg">
<!--
        <ion-item nav-clear menu-close ng-click="login()">
          <span class="ml35">Login</span>
        </ion-item>
-->
        <ion-item nav-clear menu-close href="#/app/playlists">
            <i class="icon ion-person"></i><span class="ml5">PROFILE</span>
            
        </ion-item>
        <div class="hrline"></div>
        <ion-item nav-clear menu-close href="#/app/featured">
             <i class="icon ion-film-marker"></i><span class="ml5">MOVIES</span>
        </ion-item>
        <div class="hrline"></div>
        <ion-item id="signout" nav-clear menu-close ng-click="login()">
          <span class="pd"><i class="icon ion-ios7-upload-outline"></i></span><span class="pl5">SIGN OUT</span>

        </ion-item>
        </div>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
