<ion-view>
  <ion-content class="bg">
<!--
    <ion-list>
      <ion-item ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.id}}">
        {{playlist.title}}
      </ion-item>
    </ion-list>
-->
 <div id="profile" class="tac">
    <img class="profilepic" src="img/pp.jpg"/><div class="circle">3</div>
     <div class="light"><p class="pname">Andrea Pinter</p><p><i class="icon ion-location"><span class="pl5">Miami Beach,FL</span></i></p></div>
 </div>
 <div class="row tac light">
     <div class="col"><p>23</p><span>Rated</span></div>
     <div class="col"><p>11</p><span>Recommended</span></div>
     <div class="col"><p>935</p><span>Friends</span></div>
 </div>
 <div>
    <img src="img/gotg.jpg" height="100%" width="100%"/>
        <div class="row">
           <div class="col col-90">
            <p>Guardians of the galaxy</p>
               <p><i class="icon ion-star energized"></i><i class="icon ion-star energized"></i><i class="icon ion-star energized"></i><i class="icon ion-star energized"></i><i class="icon ion-star stable"></i><span class="pl5">Your ratings</span></p>
           </div>
           <div class="col">
               <p>1d</p>
           </div>
        </div>
</div>
 <div>
    <img src="img/gunday.jpg" height="100%" width="100%"/>
 </div>
  </ion-content>
</ion-view>