<ion-view class="bghome" view-title="CHANGE PASSWORD">
    <ion-content>
        <div class="text-center">
            <form class="chng-pswd">
                <div class="mt10"><input type="text" placeholder="Enter your old password"></div>
                <div class="mt10"><input type="password" placeholder="Enter your new password"></div>
                <div class="mt10"><input type="password" placeholder="Confirm Password"></div>
                <div class="mt10"><button type="submit" class="button login-btn">Submit</button></div>
            </form>
        </div>
    </ion-content>
</ion-view>