<ion-view class="bglogin">
  <ion-content>
   
       <div class="splash">
           <img src="img/splash.png">
       </div>
       <div id="socialicon" class="pos">
        <button class="button icon-left twittbgicon ion-social-twitter button-block twitter light">
         Connect With Twitter 
        </button>
        <button class="button icon-left fbbgicon ion-social-facebook button-block facebook light">
          Connect With Facebook 
        </button>
        </div>
    
  </ion-content>
</ion-view>