<ion-view view-title="Details" class="bghome">
  <ion-content class="has-header">
   <div class="bgwhite">
            <h6 class="hdtitle latosemibold">Captain America:The Winter Solider,English(A)</h6>
    <div class="info-details">
        <div class="row">
            <div class="col f12">
                <span class="pl10 margin-0 latothin">143 min<span class="pl5">|</span></span>
                <span class="latothin">Action,Drama |</span>
                <span class="latothin">4 May 2012</span>
            </div>
<!--            <i class="rate-star"></i>-->
            <div class="col col-20 leftmg"><p><i class="icon ion-star energized"></i><i class="icon ion-star energized"></i><i class="icon ion-star energized"></i><i class="icon ion-star energized"></i><i class="icon ion-star stable"></i></p></div>
        </div>
     </div>
    <div>
       <div class="pos">
           <a href="#"><i class="icon ion-ios7-heart-outline heart"></i></a><img src="img/dp.png" height="auto" width="100%"/>
        </div>
        <div class="bdrleft pos">
                <div class="row tac sharebtns">
                    <div class="col">
                        <button class="button ratebtn">
                              RATE
                        </button>
                    </div>
                    <div class="col">
                        <button class="button ratebtn">
                              RECOMMEND
                        </button>
                    </div>
                    <div class="col col-10">
                        <span class="shareicon"><i class="icon ion-android-share"></i></span>
                    </div>
                </div>
                <i class="detailsicon"></i>
                <div class="ml7 f12">
                    <label class="latosemibold">DETAILS</label>
                    <div><label class="f12 latosemibold">GENRE:</label><span>Action ,Drama,Sci-Fi</span></div>
                    <div><label class="f12 latosemibold">RELEASE DATE:</label><span>4 May 2012</span></div>
                    <div><label class="f12 latosemibold">DURATION:</label><span>143 mins</span></div>
                    <div><label class="f12 latosemibold">DIRECTOR:</label><span>Anthony Russo and Joe Russo</span></div>
                    <div class="width100 clear">
                        <div class="width25"><label class="f12 latosemibold">WRITERS:</label></div>
                        <div class="width75"><span>Christopher Markus(Screenplay),Stephen McFeely(screenplay)</span></div>
                    </div>
                    <div class="width100 clear">
                        <div class="width30"><label class="f12 latosemibold">CAST & CREW:</label></div>
                        <div class="width70"><span>Chris Evans, Samuel L. Jackson, Scarlett
                                     Johansson, Robert Redford, Sebastian
                                      Stan, Cobie Smulders</span></div>
                        
                    </div>
                    <div class="width100 clear">
                           <div class="width30"><label class="f12 latosemibold">SUMMARY:</label></div>
                           <div class="width70"><span>As Steve Rogers struggles to embrace his role in the 
                            modern world, he teams up with another super 
                            solider, the black widow, to battle a new threat from 
                           old history: an assassin known as the Winter Solider</span></div>
                    </div>
                </div>
                <i class="expicon"></i>
                <div class="ml7 mt10">
                    <label class="latosemibold">EXPERT RATINGS</label>
                    <div class="bghover latosemibold">Taran Adarsh<span class="floatright"><i class="icon ion-star energized"></i><i class="icon ion-star energized"></i><i class="icon ion-star energized"></i><i class="icon ion-star energized"></i><i class="icon ion-star"></i></span></div>
                    <div class="bghover latosemibold">Rajiv Masand<span class="floatright"><i class="icon ion-star energized"></i><i class="icon ion-star energized"></i><i class="icon ion-star energized"></i><i class="icon ion-star energized"></i><i class="icon ion-star"></i></span></div>
                    <div class="bghover latosemibold">Anupama Chopra<span class="floatright"><i class="icon ion-star energized"></i><i class="icon ion-star energized"></i><i class="icon ion-star energized"></i><i class="icon ion-star"></i><i class="icon ion-star"></i></span></div>
                    <div class="bghover latosemibold">Times Of India<span class="floatright"><i class="icon ion-star energized"></i><i class="icon ion-star energized"></i><i class="icon ion-star"></i><i class="icon ion-star"></i><i class="icon ion-star"></i></span></div>
                </div>
                <i class="twittericon"></i>
                <div class="avtars ml7 mt-10">
                    <label class="latosemibold">TWITTER FEEDS</label>
                    <div class="separator list">
                        <a class="item item-avatar" href="#">
                          <img src="img/pp.jpg"/>
                          <span class="latosemibold cmt-title">Anna Petrovic</span><span class="f12">@60Minutes<span class="floatright">26m</span></span>
                          <h3 class="latosemibold">Back off, man. I'm a scientist.Back off, man. I'm a scientist.</h3>
                        </a>
                    </div>
                     <div class="separator list">
                        <a class="item item-avatar" href="#">
                          <img src="img/pp.jpg"/>
                          <span class="latosemibold cmt-title">Piotr Nalepa</span><span class="f12">@60Minutes<span class="floatright">6m</span></span>
                          <h3 class="latosemibold">Back off, man. I'm a scientist.Back off, man.</h3>
                        </a>
                    </div>
                     <div class="separator list">
                        <a class="item item-avatar" href="#">
                          <img src="img/pp.jpg"/>
                          <span class="latosemibold cmt-title">Venkman</span><span class="f12">@60Minutes<span class="floatright">7m</span></span>
                          <h3 class="latosemibold">Back off, man. I'm a scientist.</h3>
                        </a>
                    </div>
                    <div>
                       <button class="button ratebtn loadbtn floatright">
                        LOAD MORE
                        </button>
                    </div>
                </div>
                <i class="cmticon"></i>
                <div class="avtars ml7 mt17">
                    <label class="latosemibold">COMMENTS</label>
                    <div class="separator list">
                        <a class="item item-avatar" href="#">
                          <img src="img/pp.jpg"/>
                        <span class="latosemibold cmt-title">Venkman</span>
                          <h4>Back off, man.I'm a scientist.<span class="floatright">2d</span></h4>
                        </a>
                    </div>
                     <div class="list">
                        <a class="item item-avatar" href="#">
                          <img src="img/pp.jpg"/>
                          <span class="latosemibold cmt-title">Venkman</span>
                          <h4>Back off, man. I'm a scientist.<span class="floatright">16d</span></h4>
                        </a>
                    </div>
                    <div>
                        <h6 class="latosemibold">12 more comments</h6>
                    </div>
                </div>
            </div>
            <div class="cmtbox list">
                
                  <div class="item item-input-inset">
                    <label class="item-input-wrapper">
                      <input type="text" placeholder="Write a comment...">
                    </label>
                    <button class="button button-small">
                      <i class="chatimg"></i>
                    </button>
                  </div>


            </div>
    </div>
    </div>
  </ion-content>
</ion-view>
