<ion-view view-title="moviews" class="bghome">
    <ion-content class="has-header">
        <div class="bgwhite">
            <h6 class="hdtitle latosemibold">Captain America:The Winter Solider,English(A)</h6>
            <!--
    <div class="info-details">
        <div class="row">
            <div class="col f12">
                <span class="pl10 margin-0 latothin">143 min<span class="pl5">|</span></span>
                <span class="latothin">Action,Drama |</span>
                <span class="latothin">4 May 2012</span>
            </div>
            <i class="rate-star"></i>
            <div class="col col-20 leftmg"><p><i class="icon ion-star energized"></i><i class="icon ion-star energized"></i><i class="icon ion-star energized"></i><i class="icon ion-star energized"></i><i class="icon ion-star stable"></i></p></div>
        </div>
     </div>
-->
            <div>
                <div class="pos mt10" style="margin-bottom:-6px;">
                    <a href="#"><i class="icon ion-ios7-heart-outline heart"></i></a><img src="img/dp.png" height="auto" width="100%" />
                </div>
                <div class="pos">
                    <div class="fix-ht100 greenbg"></div>
                    <ion-list class="detail-btn">
                        <ion-item class="rate">
                            <label>
                                <span class="rale-bold">RATE</span>
                                <span class="margin-left"><i class="icon ion-star green-star"></i><i class="icon ion-star green-star"></i><i class="icon ion-star green-star"></i><i class="icon ion-star green-star"></i><i class="icon ion-star"></i></span>
                                <span class="margin-left rale-regular">WHY GOD WHY!</span>
                            </label>
                        </ion-item>
                        <ion-item class="text-center">
                            <button class="button rale-bold">
                                RECOMMEND
                            </button>
                        </ion-item>
                    </ion-list>
                </div>
                <!--                <div class="bdrleft pos">-->
                <!--
                    <div class="row tac sharebtns">
                        <div class="col">
                            <button class="button ratebtn">
                                RATE
                            </button>
                        </div>
                        <div class="col">
                            <button class="button ratebtn">
                                RECOMMEND
                            </button>
                        </div>
                        <div class="col col-10">
                            <span class="shareicon"><i class="icon ion-android-share"></i></span>
                        </div>
                    </div>
-->

                <!--                    <i class="expicon"></i>-->

                <div class="row detail-hd">
                    <div class="col dark-green"><img class="movie-icon-l" src="img/expert.png">EXPERTS</div>
                    <div class="col">FRIENDS<img class="movie-icon-r" src="img/friends.png">
                    </div>
                </div>
                <div class="ml7 mt10">

                    <!--                        <label class="latosemibold">EXPERT RATINGS</label>-->
                    <div class="bghover rale-regular">Taran Adarsh<span class="floatright"><i class="icon ion-star green-star"></i><i class="icon ion-star green-star"></i><i class="icon ion-star green-star"></i><i class="icon ion-star green-star"></i><i class="icon ion-star"></i></span>
                    </div>
                    <div class="bghover rale-regular">Rajiv Masand<span class="floatright"><i class="icon ion-star green-star"></i><i class="icon ion-star green-star"></i><i class="icon ion-star green-star"></i><i class="icon ion-star green-star"></i><i class="icon ion-star"></i></span>
                    </div>
                    <div class="bghover rale-regular">Anupama Chopra<span class="floatright"><i class="icon ion-star green-star"></i><i class="icon ion-star green-star"></i><i class="icon ion-star green-star"></i><i class="icon ion-star"></i><i class="icon ion-star"></i></span>
                    </div>
                    <div class="bghover rale-regular">Times Of India<span class="floatright"><i class="icon ion-star green-star"></i><i class="icon ion-star green-star"></i><i class="icon ion-star"></i><i class="icon ion-star"></i><i class="icon ion-star"></i></span>
                    </div>
                    <div class="bghover rale-bold">AVERAGE RATING<span class="floatright"><i class="icon ion-star green-star"></i><i class="icon ion-star green-star"></i><i class="icon ion-star"></i><i class="icon ion-star"></i><i class="icon ion-star"></i></span>
                    </div>

                </div>
                <!--                    <i class="twittericon"></i>-->


                <div class="row detail-hd">
                    <div class="col"><img class="movie-icon-l" src="img/feeds.png">TWITTER FEEDS</div>
                    <div class="col dark-green">REVIEWS<img class="movie-icon-r" src="img/review.png">
                    </div>
                </div>
                <div class="avtars ml7 mt10">
                    <!--                        <label class="latosemibold">TWITTER FEEDS</label>-->
                    <div class="separator list">
                        <a class="item item-avatar" href="#">
                            <img class="img-circle" src="img/pp.jpg" />
                            <span class="rale-regular cmt-title">Anna Petrovic</span>
                            <p class="rale-regular">Back off, man. I'm a scientist.Back off, man. I'm a scientist.<span class="floatright">6d</span>
                            </p>
                        </a>
                    </div>
                    <div class="separator list">
                        <a class="item item-avatar" href="#">
                            <img class="img-circle" src="img/pp.jpg" />
                            <span class="rale-regular cmt-title">Piotr Nalepa</span>
                            <p class="rale-regular">Back off, man. I'm a scientist.Back off, man.<span class="floatright">15d</span>
                            </p>
                        </a>
                    </div>
                    <div class="separator list" style="border-bottom:none;">
                        <a class="item item-avatar" href="#">
                            <img class="img-circle" src="img/pp.jpg" />
                            <span class="rale-regular cmt-title">Venkman</span>
                            <p class="rale-regular">Back off, man. I'm a scientist.<span class="floatright">26d</span>
                            </p>
                        </a>
                    </div>
                    <div class="rale-bold">12 more comments</div>
                    <!--
                        <div>
                            <button class="button ratebtn loadbtn floatright">
                                LOAD MORE
                            </button>
                        </div>
-->
                </div>
                <!--                    <i class="cmticon"></i>-->


                <!--
                    <div class="avtars ml7 mt17">
                        <label class="latosemibold">COMMENTS</label>
                        <div class="separator list">
                            <a class="item item-avatar" href="#">
                                <img src="img/pp.jpg" />
                                <span class="latosemibold cmt-title">Venkman</span>
                                <h4>Back off, man.I'm a scientist.<span class="floatright">2d</span></h4>
                            </a>
                        </div>
                        <div class="list">
                            <a class="item item-avatar" href="#">
                                <img src="img/pp.jpg" />
                                <span class="latosemibold cmt-title">Venkman</span>
                                <h4>Back off, man. I'm a scientist.<span class="floatright">16d</span></h4>
                            </a>
                        </div>
                        <div>
                            <h6 class="latosemibold">12 more comments</h6>
                        </div>
                    </div>
-->
                <!--                </div>-->
                <div class="cmtbox list mt10">

                    <div class="item item-input-inset">
                        <label class="item-input-wrapper">
                            <input type="text" placeholder="Write a comment...">
                        </label>
                        <button class="button button-small">
                            <i class="chatimg"></i>
                        </button>
                    </div>


                </div>
                <!--                    <i class="detailsicon"></i>-->
                <div class="detail-hd">
                           <div class="dark-green p5"><img class="movie-icon-l" src="img/video-info.png">DESCRIPTION<div class="desc-arrow"></div></div>
                       </div>
                <div class="ml7 f12 mt10 description">
                    <!--                        <label class="latosemibold">DETAILS</label>-->
                    <div>
                        <label class="f12 rale-bold">GENRE:</label><span>Action ,Drama,Sci-Fi</span>
                    </div>
                    <div>
                        <label class="f12 rale-bold">RELEASE DATE:</label><span>4 May 2012</span>
                    </div>
                    <div>
                        <label class="f12 rale-bold">DURATION:</label><span>143 mins</span>
                    </div>
                    <div>
                        <label class="f12 rale-bold">DIRECTOR:</label><span>Anthony Russo and Joe Russo</span>
                    </div>
                    <div class="width100 clear">
                        <div class="width25">
                            <label class="f12 rale-bold">WRITERS:</label>
                        </div>
                        <div class="width75"><span>Christopher Markus(Screenplay),Stephen McFeely(screenplay)</span>
                        </div>
                    </div>
                    <div class="width100 clear">
                        <div class="width30">
                            <label class="f12 rale-bold">CAST & CREW:</label>
                        </div>
                        <div class="width70"><span>Chris Evans, Samuel L. Jackson, Scarlett
                                     Johansson, Robert Redford, Sebastian
                                      Stan, Cobie Smulders</span>
                        </div>

                    </div>
<!--
                    <div class="width100 clear">
                        <div class="width30">
                            <label class="f12 rale-bold">SUMMARY:</label>
                        </div>
                        <div class="width70"><span>As Steve Rogers struggles to embrace his role in the 
                            modern world, he teams up with another super 
                            solider, the black widow, to battle a new threat from 
                           old history: an assassin known as the Winter Solider</span>
                        </div>
                    </div>
-->
                </div>
                <div class="fix-ht100"></div>
                
            </div>
        </div>
    </ion-content>
</ion-view>