<ion-view class="bghome">
   <div class="bar bar-header dark-green">
       <form ng-submit="" ng-show="showSearch">
            <input type="text" placeholder="Search" class="search-bar">
        </form>
        <h1 class="title margin-auto"><img class="header-img" src="img/head-logo.png"></h1>
    </div>
<!--
    <ion-nav-title>
        <form ng-submit="" ng-show="showSearch">
            <input type="text" placeholder="Search" class="search-bar">
        </form>
        <img class="header-img" src="img/head-logo.png">
    </ion-nav-title>
-->
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-ios7-search" ng-click="showSearch = !showSearch;"></button>
    </ion-nav-buttons>
    <ion-content>
        <div class="pos moviebg" ng-repeat="movies in intheatre.theatresthisweek" ng-if="movies.isfeatured==1">
            <img ng-src="{{movies.image}}" height="auto" width="100%" />
            
            <div class="mtitle gradientbg pl10">
                <h6 class="margin-0 light rale-regular">FEATURED</h6>
                    <h6 class="light rale-regular">{{movies.name}}</h6>
            </div>
        </div>
        <!--
        <div class="tab-menu tac">
            <div class="row">
                <div class="col">
                    <div class="darkbg light">IN THEATERS</div>
                </div>
                <div class="col">
                    <div class="darkbg light">COMING SOON</div>
                </div>
            </div>
        </div>
-->
        <div class="movie-list-hd tac">
            <p>IN THEATERS THIS WEEK</p>
        </div>
        <ion-list class="menu-list">
            <ion-item ng-repeat="movies in intheatre.theatresthisweek" ng-if="movies.isintheator==1">
                <a href="#/app/details/{{movies.id}}">
                    <img class="new-release" src="img/release.png">
                    <img ng-src="{{movies.image}}" height="auto" width="100%" />
                    <img class="watch-movie" src="img/watch.png" ng-repeat="userwatch in userdetails.watched" ng-if="movies.id==userwatch.id">
                </a>
                <div class="bgwhite detail">
                    
                    {{movies.name}}
                   
                    <span class="f12 pull-right"><i class="icon ion-star rated"></i><i class="icon ion-star rated"></i><i class="icon ion-star rated"></i><i class="icon ion-star rated"></i><i class="icon ion-star not-rated"></i>
                    </span>

                </div>
            </ion-item>
        </ion-list>


<!--
        <ion-list class="menu-list">
            <ion-item>
                <a href="#/app/details">
                    <img class="new-release" src="img/release.png">
                    <img src="img/killdil.jpg" height="auto" width="100%" />
                    <img class="watch-movie" src="img/watch.png">
                </a>
                 <div class="bgwhite detail">
                   
                       KILL DIL
                   
                    <span class="f12 pull-right"><i class="icon ion-star rated"></i><i class="icon ion-star rated"></i><i class="icon ion-star rated"></i><i class="icon ion-star rated"></i><i class="icon ion-star not-rated"></i>
                    </span>

                </div>
            </ion-item>
        </ion-list>


        <ion-list class="menu-list">
            <ion-item>
                <a href="#/app/details">
                    <img class="new-release" src="img/release.png">
                    <img src="img/killdil.jpg" height="auto" width="100%" />
                    <img class="watch-movie" src="img/watch.png">
                </a>
                 <div class="bgwhite detail">
                    
                       KILL DIL
                
                    <span class="f12 pull-right"><i class="icon ion-star rated"></i><i class="icon ion-star rated"></i><i class="icon ion-star rated"></i><i class="icon ion-star rated"></i><i class="icon ion-star not-rated"></i>
                    </span>

                </div>
            </ion-item>
        </ion-list>
-->

        <!--
        <div class="menu-list">


            <ion-tabs class="">

              <ion-tab title="IN THEATERS">
                 Tab 1 content 
                 <img src="img/killdil.jpg" height="100%" width="100%"/>
                  <img src="img/hny.jpg" height="100%" width="100%"/>
              </ion-tab>

              <ion-tab title="COMING SOON">
                 Tab 2 content 
                 <img src="img/killdil.jpg" height="100%" width="100%"/>
              </ion-tab>
  
         </ion-tabs>

        </div>
-->

    </ion-content>
</ion-view>