<ion-view class="bghome">
    <ion-nav-title>
        <form ng-submit="" ng-show="showSearch">
            <input type="text" placeholder="Search" class="search-bar">
        </form>
    </ion-nav-title>
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-ios7-search" ng-click="showSearch = !showSearch;"></button>
    </ion-nav-buttons>
    <ion-content>
        <div id="profile" class="tac">
            <img class="profilepic" ng-src="{{user.image}}" />
            <div class="circle"><i class="icon ion-checkmark"></i>
            </div>
            <div class="light">
                <h6 class="pname">{{userdetails.userdetails.name}}</h6><i class="icon ion-location"></i><span class="pl5 rale-light f12">Miami Beach,FL</span>
            </div>
        </div>
        
        <div class="row tac light bgopacity mt-10 padding0 menu-tabs">
            <div class="col" ng-click="first=1" ng-class="{'active-tab': first==1}">
                <h3 class="latobold light margin-0">{{userdetails.watchcount}}</h3>
                <!--                <div class="watched"></div>-->
                <img src="img/watch.png" style="height:20px">
            </div>
            <div class="col" ng-click="first=2" ng-class="{'active-tab': first==2}">
                <h3 class="latobold light margin-0">{{userdetails.ratecount}}</h3>
                <div class="rate-home"></div>
                <!--           <img src="img/rate.png">-->
            </div>
            <div class="col" ng-click="first=3" ng-class="{'active-tab': first==3}">
                <h3 class="latobold light margin-0">{{userdetails.reviewcount}}</h3>
                <!--                <div class="reviewed"></div>-->
                <img src="img/review.png">
            </div>
            <div class="col" ng-click="first=4" ng-class="{'active-tab': first==4}">
                <h3 class="latobold light margin-0">{{userdetails.recommendcount}}</h3>
                <!--                <div class="recommend"></div>-->
                <img src="img/recommend.png">
            </div>
        </div>
        
        
        <ion-list class="movie-cards">

            <div class="dark-green menu-hd text-center" ng-if="first==1">
                <p>WATCHED</p>
            </div>
            <ion-item ng-if="first==1" ng-repeat="movies in userdetails.watched">

                <a href="#/app/details/{{movies.id}}"> <img ng-src="{{movies.image}}" height="auto" width="100%" /></a>
                <div class="mt5 pad-10">
                    <div class="lato-regular f12 font-black pull-left">{{movies.name}}</div>
                    <div class="lato-regular grey fsmall f12 pull-right">{{movies.dateofrelease}}</div>
                    <div class="clear"></div>
                </div>
            </ion-item>

            <div class="dark-green menu-hd text-center" ng-if="first==2">
                <p>RATED</p>
            </div>
            <ion-item ng-if="first==2" ng-repeat="movies in userdetails.ratings">

                <a href="#/app/details?/{{movies.id}}"><img ng-src="{{movies.image}}" height="auto" width="100%" /></a>

                <div class="mt5 pad-10">
                    <div class="lato-regular f12 font-black pull-left">{{movies.name}}</div>
                    <div class="f12 pull-right" style="margin-right:60px">
                        <span class="pos" ng-if="movies.rating==0.5">
                            <i class="icon half-star s1"></i></i><i class="icon empty-star s2"></i><i class="icon empty-star s3"></i><i class="icon empty-star s4"></i><i class="icon empty-star s5"></i>
                        </span>
                        <span class="pos" ng-if="movies.rating==1">
                            <i class="icon full-star s1"></i></i><i class="icon empty-star s2"></i><i class="icon empty-star s3"></i><i class="icon empty-star s4"></i><i class="icon empty-star s5"></i>
                        </span>
                        <span class="pos" ng-if="movies.rating==1.5">
                            <i class="icon full-star s1"></i></i><i class="icon half-star s2"></i><i class="icon empty-star s3"></i><i class="icon empty-star s4"></i><i class="icon empty-star s5"></i>
                        </span>
                        <span class="pos" ng-if="movies.rating==2">
                            <i class="icon full-star s1"></i></i><i class="icon full-star s2"></i><i class="icon empty-star s3"></i><i class="icon empty-star s4"></i><i class="icon empty-star s5"></i>
                        </span>
                        <span class="pos" ng-if="movies.rating==2.5">
                            <i class="icon full-star s1"></i></i><i class="icon full-star s2"></i><i class="icon half-star s3"></i><i class="icon empty-star s4"></i><i class="icon empty-star s5"></i>
                        </span>
                        <span class="pos" ng-if="movies.rating==3">
                            <i class="icon full-star s1"></i></i><i class="icon full-star s2"></i><i class="icon full-star s3"></i><i class="icon empty-star s4"></i><i class="icon empty-star s5"></i>
                        </span>
                        <span class="pos" ng-if="movies.rating==3.5;">
                            <i class="icon full-star s1"></i></i><i class="icon full-star s2"></i><i class="icon full-star s3"></i><i class="icon half-star s4"></i><i class="icon empty-star s5"></i>
                        </span>
                        <span class="pos" ng-if="movies.rating==4">
                            <i class="icon full-star s1"></i></i><i class="icon full-star s2"></i><i class="icon full-star s3"></i><i class="icon full-star s4"></i><i class="icon empty-star s5"></i>
                        </span>
                        <span class="pos" ng-if="movies.rating==4.5">
                            <i class="icon full-star s1"></i></i><i class="icon full-star s2"></i><i class="icon full-star s3"></i><i class="icon full-star s4"></i><i class="icon half-star s5"></i>
                        </span>
                        <span class="pos" ng-if="movies.rating==5">
                            <i class="icon full-star s1"></i></i><i class="icon full-star s2"></i><i class="icon full-star s3"></i><i class="icon full-star s4"></i><i class="icon full-star s5"></i>
                        </span>
                    </div>
                    <div class="clear"></div>

                </div>
            </ion-item>

            <div class="dark-green menu-hd text-center" ng-if="first==3">
                <p>REVIEWED</p>
            </div>
            <ion-item ng-if="first==3" ng-repeat="movies in userdetails.reviewed">
                <a href="#/app/details/{{movies.id}}"> <img ng-src="{{movies.image}}" height="auto" width="100%" /></a>
                <div class="mt5">
                    <div class="lato-regular f12 font-black pull-left pad-10">{{movies.name}}</div>
                    <div class="dark-green rale-regular f12 white pull-right pad-10">Read reviews</div>
                    <div class="clear"></div>
                </div>

            </ion-item>

            <div class="dark-green menu-hd text-center" ng-if="first==4">
                <p>RECOMMENDED</p>
            </div>
            <ion-item ng-if="first==4" ng-repeat="movies in userdetails.recommended">

                <a href="#/app/details/{{movies.id}}"> <img ng-src="{{movies.image}}" height="auto" width="100%" /></a>
                <div class="mt5">
                    <div class="lato-regular f12 font-black pull-left pad-10">{{movies.name}}</div>
                    <div class="dark-green rale-regular f12 white pull-right pad-10">Recommend To</div>
                    <div class="clear"></div>
                </div>
            </ion-item>


        </ion-list>
    </ion-content>
</ion-view>