<ion-view class="bghome">

    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-android-search" ng-click="toggle();"></button>
    </ion-nav-buttons>

    <ion-content>
        <div class="item-input-inset" ng-show="myVar">
            <div class="item-input-wrapper" placeholder="Search a user"><i class="icon ion-android-search white"></i>
                <input type="search" placeholder="Search..." ng-model="searchmovie.s" ng-keypress="getsearchres($event)">
            </div>
        </div>
        <div id="profile" class="tac">
            <img class="profilepic" ng-if="user.image" ng-src="{{user.image}}" />
            <img class="menupic" ng-if="!(user.image)" src="img\default.jpg">

            <div class="light">
                <h6 class="pname">{{userdetails.userdetails.name}}</h6>
                <!--                <i class="icon ion-location"></i><span class="pl5 rale-light f12">Miami Beach,FL</span>-->
                <i class="icon ion-location" ng-if="city"></i><span class="pl5 rale-light f12" ng-if="city">
                {{userdetails.userdetails.street}},{{userdetails.userdetails.city}}</span>
            </div>
        </div>

        <div class="row tac light bgopacity mt-10 padding0 menu-tabs">
            <div class="col" ng-click="first=1" ng-class="{'active-tab': first==1}">
                <h3 class="latobold light margin-0">{{userdetails.watchcount}}</h3>
                <!--                <div class="watched"></div>-->
                <img src="img/watch.png" style="height:20px">
            </div>
            <div class="col" ng-click="first=2" ng-class="{'active-tab': first==2}">
                <h3 class="latobold light margin-0">{{userdetails.ratecount}}</h3>
                <div class="rate-home"></div>
                <!--           <img src="img/rate.png">-->
            </div>
            <div class="col" ng-click="first=3" ng-class="{'active-tab': first==3}">
                <h3 class="latobold light margin-0" style="margin-bottom: 7px;">{{userdetails.commentcount}}</h3>
                <!--                <div class="reviewed"></div>-->
                <i class="icon icon-reviews"></i>
            </div>

            <div class="col" ng-click="first=4" ng-class="{'active-tab': first==4}">
                <h3 class="latobold light margin-0">{{userdetails.recommendcount}}</h3>
                <div class="recommend"></div>
                <img src="img/recommend.png">
            </div>
        </div>


        <ion-list class="movie-cards">

            <div class="dark-green menu-hd text-center" ng-if="first==1">
                <p>WATCHED</p>
            </div>
            <ion-item style="margin-bottom:0px;">
                <div class="rale-semibold" style="text-align:center;padding:10px;" ng-if="userdetails.watched.length==0 && first==1">No movie watched</div>
            </ion-item>
            <ion-item ng-if="first==1" ng-repeat="movies in userdetails.watched">

                <a href="#/app/details/{{movies.id}}">
                    <img ng-src="{{movies.image}}" height="auto" width="100%" />
                </a>
                <div class="mt5 pad-10">
                    <div class="lato-regular f12 font-black pull-left">{{movies.name}}</div>
                    <div class="lato-regular grey fsmall f12 pull-right">{{movies.dateofrelease}}</div>
                    <div class="clear"></div>
                </div>
            </ion-item>

            <div class="dark-green menu-hd text-center" ng-if="first==2">
                <p>RATED</p>
            </div>
            <ion-item style="margin-bottom:0px;">
                <div class="rale-semibold" style="text-align:center;padding:10px;" ng-if="userdetails.ratings.length==0 && first==2">No movie rated</div>
            </ion-item>
            <ion-item ng-if="first==2" ng-repeat="movies in userdetails.ratings">

                <a href="#/app/details/{{movies.id}}">
                    <img ng-src="{{movies.image}}" height="auto" width="100%" />
                </a>

                <div class="mt5 pad-10">
                    <div class="lato-regular f12 font-black pull-left">{{movies.name}}</div>
                    <div class="f12 pull-right">
                        <span class="pos" ng-if="movies.rating==0.5">
                           <i class="icon-star half"></i><i class="icon-star zero"></i><i class="icon-star zero"></i><i class="icon-star zero"></i><i class="icon-star zero"></i>
                        </span>
                        <span class="pos" ng-if="movies.rating==1">
                           <i class="icon-star full"></i><i class="icon-star zero"></i><i class="icon-star zero"></i><i class="icon-star zero"></i><i class="icon-star zero"></i>
                        </span>
                        <span class="pos" ng-if="movies.rating==1.5">
                            <i class="icon-star full"></i><i class="icon-star half"></i><i class="icon-star zero"></i><i class="icon-star zero"></i><i class="icon-star zero"></i>
                        </span>
                        <span class="pos" ng-if="movies.rating==2">
                           <i class="icon-star full"></i><i class="icon-star full"></i><i class="icon-star zero"></i><i class="icon-star zero"></i><i class="icon-star zero"></i>
                        </span>
                        <span class="pos" ng-if="movies.rating==2.5">
                            <i class="icon-star full"></i><i class="icon-star full"></i><i class="icon-star half"></i><i class="icon-star zero"></i><i class="icon-star zero"></i>
                        </span>
                        <span class="pos" ng-if="movies.rating==3">
                            <i class="icon-star full"></i><i class="icon-star full"></i><i class="icon-star full"></i><i class="icon-star zero"></i><i class="icon-star zero"></i>
                        </span>
                        <span class="pos" ng-if="movies.rating==3.5;">
                            <i class="icon-star full"></i><i class="icon-star full"></i><i class="icon-star full"></i><i class="icon-star half"></i><i class="icon-star zero"></i>
                        </span>
                        <span class="pos" ng-if="movies.rating==4">
                            <i class="icon-star full"></i><i class="icon-star full"></i><i class="icon-star full"></i><i class="icon-star full"></i><i class="icon-star zero"></i>
                        </span>
                        <span class="pos" ng-if="movies.rating==4.5">
                            <i class="icon-star full"></i><i class="icon-star full"></i><i class="icon-star full"></i><i class="icon-star full"></i><i class="icon-star half"></i>
                        </span>
                        <span class="pos" ng-if="movies.rating==5">
                           <i class="icon-star full"></i><i class="icon-star full"></i><i class="icon-star full"></i><i class="icon-star full"></i><i class="icon-star full"></i>
                        </span>
                    </div>
                    <div class="clear"></div>

                </div>
            </ion-item>

            <div class="dark-green menu-hd text-center" ng-if="first==3">
                <p>REVIEWED</p>
            </div>
            <ion-item style="margin-bottom:0px;">
                <div class="rale-semibold" style="text-align:center;padding:10px;" ng-if="userdetails.comment.length==0 && first==3">No movie reviewed</div>
            </ion-item>
            <ion-item ng-if="first==3" ng-repeat="movies in userdetails.comment">
                <div class="separator list review_pad">
                    <a href="#/app/details/{{movies.id}}">
                        <img ng-src="{{movies.image}}" height="auto" width="100%" />
                    </a>
                    <div class="mt5">
                        <div class="lato-regular pad-10 f12 font-black pull-left">{{movies.moviename}}</div>
                        <a href="#/app/details/{{movies.id}}">
                            <div class="dark-green pad-10 rale-regular f12 white pull-right">Read reviews</div>
                        </a>
                        <!--                            <div class="clear"></div>-->
                    </div>
                    <!--
                        <span class="rale-regular cmt-title">{{movies.moviename}}</span>
                        <p class="rale-regular">{{movies.comment}}
                            <span class="floatright grey" style="margin-right:0">{{ movies.timestamp | date : 'dd MMM yyyy' }}</span>
                        </p>
-->

                </div>
            </ion-item>

            <div class="dark-green menu-hd text-center" ng-if="first==4">
                <p>RECOMMENDED</p>
            </div>
            <ion-item style="margin-bottom:0px;">
                <div class="rale-semibold" style="text-align:center;padding:10px;" ng-if="userdetails.recommended.length==0 && first==4">No movie recommended</div>
            </ion-item>
            <ion-item ng-if="first==4" ng-repeat="movies in userdetails.recommended">
                <a href="#/app/details/{{movies.id}}">
                    <img ng-src="{{movies.image}}" height="auto" width="100%" />
                </a>
                <div class="mt5">
                    <div class="lato-regular f12 font-black pull-left pad-10">{{movies.name}}</div>
                    <div class="dark-green rale-regular f12 white pull-right pad-10">Recommend To</div>
                    <div class="clear"></div>
                </div>
            </ion-item>


        </ion-list>
    </ion-content>
</ion-view>