<ion-view class="bglogin" ng-controller="LoginJagruti">
    <ion-content>
    </ion-content>
    <ion-slide-box class="slide-box white text-center" on-slide-changed="slideHasChanged($index)" does-continue="true" show-pager="true" auto-play="false">
        <ion-slide>
            <div class="fix-height"></div>
            <div class="screen">
                <img src="img/splash.png" />
            </div>
            <div class="fix-height"></div>
        </ion-slide>
        <ion-slide class="landing">
            <div class="landing-hd">
                NO FRILLS,NO STUFF, JUST MOVIE RATINGS.
            </div>
            <img src="img/5stars.png">
            <p>Check how your friends and experts have rated the most recent releases.</p>
            <div class="fix-height"></div>
        </ion-slide>
        <ion-slide>
            <div class="landing-hd">
                RATE. REVIEW.
                <br><span style="font-size:24px;font-weight:600">RECOMMEND.</span>
            </div>
            <div class="mt10 icons">
                <img src="img/tick.png"><img src="img/comment.png"><img src="img/favt-star.png">
            </div>
            <p>Say it how you see it. Spread the love or hate!</p>
            <div class="fix-height"></div>
        </ion-slide>
        <ion-slide>
            <div class="landing-hd">
                DATE WITH
                <br><span class="font-hist">HISTORY</span>
            </div>
            <div class="mt10">
                <img src="img/video.png" width="50px">
            </div>
            <p>A record of your date with movies.</p>
            <div class="fix-height"></div>
        </ion-slide>
        <ion-slide>
            <div class="landing-hd">
                TGIF
            </div>
            <div class="mt10 icons">
                <img src="img/timer.png">
            </div>
            <p>A gentle reminder on what's hit
                <br> the theaters, every Friday.</p>
            <div class="fix-height"></div>
        </ion-slide>
    </ion-slide-box>




    <div class="ftr-position">
        <div class="text-center white landing-bg">
            <div class="pad-t10 rale-medium">WARNING</div>
            <div class="warning">
                <p class="rale-regular">Do not sign-up if you have the time to catch a not-so-good movie.</p>
            </div>
            <div class="row">
                <div class="col">
                    <button class="button fb-color icon-left ion-social-facebook" ng-click="facebooklogin();">Sign in with Facebook
                    </button>
                </div>
                <!--
            <div class="col">
                <button class="twitt-color" ng-click="twitterlogin();"><i class="ion-social-twitter"></i>
                </button>
            </div>
-->
            </div>
            <div class="social-info">
                <p class="rale-regular">We ain't gonna post jack without your permission.Deal.</p>
            </div>
        </div>
        <div class="row border padding0 text-center">
            <!--
        <div class="col rale-medium landing-bg paddding-social-btn" style="margin-right:2px;">
            <a href="#/signup">SIGN UP</a>
        </div>
-->
<!--
            <div class="col rale-medium landing-bg paddding-social-btn">
    <a href="#/login">LOGIN</a>
    </div>
-->
        </div>
    </div>
</ion-view>