<ion-view class="bglogin">
    <ion-content>
        <ion-slide-box class="slide-box white text-center" on-slide-changed="slideHasChanged($index)" does-continue="true" show-pager="true" auto-play="false">
            <ion-slide>
                <div class="screen">
                    <img src="img/splash.png" width="100%" />
                </div>
            </ion-slide>
            <ion-slide class="landing">
                <div class="landing-hd">
                     NO FRILLS,NO STUFF, JUST MOVIE RATINGS.
                </div>
                <img src="img/5stars.png">
                <p>Check how your friends and experts have rated the most recent releases.</p>
            </ion-slide>
            <ion-slide class="landing">
                <div class="landing-hd">
                     RATE. REVIEW. RECOMMEND.
                </div>
                <img src="img/5stars.png">
                <p>Say it how you see it. Spread the love or hate!</p>
            </ion-slide>
             <ion-slide class="landing">
                <div class="landing-hd">
                     DATE WITH<br>HISTORY
                </div>
                <img src="img/5stars.png">
                <p>A record of your date with movies.</p>
            </ion-slide>
             <ion-slide class="landing">
                <div class="landing-hd">
                     TGIF
                </div>
                <img src="img/5stars.png">
                <p>A gentle reminder on what's hit the theaters, every Friday.</p>
            </ion-slide>
        </ion-slide-box>
        <div class="text-center white landing-bg">
            <div class="">WARNING</div>
            <div class="warning">
                <p>Do not sign-up if you have the time to catch a not-so-good movie.</p>
            </div>
            <div class="row">
                <div class="col">
                    <button class="fb-color"><i class="ion-social-facebook"></i>
                    </button>
                </div>
                <div class="col">
                    <button class="twitt-color"><i class="ion-social-twitter"></i>
                    </button>
                </div>
            </div>
            <div><p>We ain't gonna post jack without your permission.Deal.</p></div>
            <div class="row border">
                <div class="col"><a href="#/signup">SIGN UP</a></div>
                <div class="col" style="border-right:none;"><a href="#/login">LOGIN</a></div>
            </div>
        </div>

    </ion-content>
</ion-view>