<ion-view class="bglogin">
    <ion-content>
        <div class="tac login-head">
            <label><i class="icon ion-ios7-close-empty pull-left font-20"></i>Login</label>
        </div>
        <button class="button icon-left fbbgicon ion-social-facebook button-block fb-bg light">
           Login via Facebook
        </button>
        <button class="button icon-left twittbgicon ion-social-twitter button-block twitt-bg light">
            Login via Twitter
        </button>





        <!--
        <div class="list">
            <label class="item item-input">
                <input type="text" placeholder="First Name">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Last Name">
            </label>
            <label class="item item-input">
                <textarea placeholder="Comments"></textarea>
            </label>
        </div>
-->

        <!--
       <div id="socialicon" class="pos">
        <button class="button icon-left twittbgicon ion-social-twitter button-block twitter light">
         Connect With Twitter 
        </button>
        <button class="button icon-left fbbgicon ion-social-facebook button-block facebook light">
          Connect With Facebook 
        </button>
        </div>
-->

    </ion-content>
</ion-view>