<ion-view class="bglogin" ng-controller="LoginJagruti">
    <ion-header-bar class="bar bar-header tac login-hdr">
        <h1 class="title">LOGIN</h1>
    </ion-header-bar>
    <ion-content class="has-header">

        <div class="social-btns">
            <button type="submit" class="button icon-left fbbgicon ion-social-facebook fb-bg light" ng-click="facebooklogin();">
                <span>Login via Facebook</span>
            </button>
            <!--
            <button type="submit" class="button icon-left twittbgicon ion-social-twitter twitt-bg light" ng-click="twitterlogin();">
                <span>Login via Twitter</span>
            </button>
-->
        </div>
        <!--
        <div class="mtb20 text-center">
            <img src="img/left-hr.png" width="45px"><span class="login-txt rale-regular">OR LOGIN USING EMAIL</span><img src="img/right-hr.png" width="45px">
        </div>
-->
<!--
        <ion-list class="login-form">

    <label class="item item-input mt0">
        <input type="text" placeholder="Email or Username" ng-model="user.email">
    </label>
    <label class="item item-input">
        <input type="password" placeholder="Password" ng-model="user.password">
    </label>

    <ion-item class="text-center mt10 padding0">
        <button type="submit" class="button login-btn" ng-click="onlogin(user)"><span>Login</span>
        </button>
    </ion-item>

</ion-list>
-->
        <!--
        <div class="text-center white mt10 rale-regular">
            Forgot Password?
        </div>
-->

    </ion-content>
    <div class="bar bar-footer login-ftr">
        <div class="ftr-data rale-regular">By Logging in you agree to Moviews Terms of Service,Privacy policy and content Policies.</div>
    </div>
</ion-view>