<ion-view class="bglogin">
    <ion-content>
        <div class="tac login-head">
            <p class="rale-medium"><i class="icon ion-ios7-close-empty pull-left f25"></i>Login</p class="rale-medium">
        </div>
        <div class="social-btns">
            <button type="submit" class="button icon-left fbbgicon ion-social-facebook fb-bg light">
                <span>Login via Facebook</span>
            </button>
            <button type="submit" class="button icon-left twittbgicon ion-social-twitter twitt-bg light">
                <span>Login via Twitter</span>
            </button>
        </div>
        <div class="mtb20 text-center">
            <img src="img/left-hr.png" width="45px"><span class="login-txt rale-regular">OR LOGIN USING EMAIL</span><img src="img/right-hr.png" width="45px">
        </div>
        <ion-list class="login-form">

            <label class="item item-input mt0">
                <input type="text" placeholder="Email or Username">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Password">
            </label>

            <ion-item class="text-center mt10 padding0">
                <button type="submit" class="button login-btn"><span>Login</span></button>
            </ion-item>

        </ion-list>
        <div class="text-center white mt10 rale-regular">
            Forgot Password?
        </div>

    </ion-content>
    <div class="bar bar-footer login-ftr">
        <div class="ftr-data rale-regular">By Logging in you agree to Moviews Terms of Service,Privacy policy and content Policies.</div>
    </div>
</ion-view>