<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bg">
            <ion-nav-back-button>
            </ion-nav-back-button>

            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>


        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">
        <ion-header-bar>

        </ion-header-bar>
        <ion-view class="bghome">
            <ion-content class="no-header">

                <div class="tac pos mt-10">
                    <img class="menupic" ng-if="uname.image" ng-src="{{uname.image}}">
                    <img class="menupic" ng-if="!(uname.image)" src="img\default.jpg">
<!--                    <div class="circle bgpink latobold">3</div>-->
                    <div class="light">
                        <p class="pname-menu">{{uname.name}}</p>
<!--                        <p><i class="icon ion-location"><span class="pl5 f12 latolight">Miami Beach,FL</span></i></p>-->
                        <p ng-if="ul.city"><i class="icon ion-location"><span class="pl5 f12 latolight">{{ul.street}},{{ul.city}}</span></i></p>
                    </div>
                </div>
                <ion-list>
                    <div class="menu-item mt-10">
                        <!--
        <ion-item nav-clear menu-close ng-click="login()">
          <span class="ml35">Login</span>
        </ion-item>
-->
                        <ion-item nav-clear menu-close href="#/app/featured">
                            <i class="icon icon-clap"></i><span class="ml5 lato-regular">MOVIES THIS WEEK</span>
                        </ion-item>
                        <div class="hrline"></div>
                        <ion-item nav-clear menu-close href="#/app/home">
                            <i class="icon ion-person"></i><span class="ml5 lato-regular">PROFILE</span>

                        </ion-item>

                        
                                                <div class="hrline"></div>

                        <ion-item nav-clear menu-close href="#/app/setting">
                            <i class="icon ion-gear-a"></i><span class="ml5 lato-regular">SETTINGS</span>
                        </ion-item>


                        <ion-item id="signout" nav-clear menu-close ng-click="signout();" style="padding:16px">

                            <i class="icon signout-icon"></i><span class="ml5 lato-regular">SIGN OUT</span>

                        </ion-item>
                    </div>
                </ion-list>
            </ion-content>
    </ion-side-menu>
</ion-side-menus>
</ion-view>