<ion-view class="rating-pop">
    <ion-content class="pop-width">
        
        <ion-list class="rate-list">
            <!--
               <ion-item class="pos">
               <span><i class="icon half-star"></i></i></span>
               <span><i class="icon empty-star"></i></span>
               <span><i class="icon empty-star"></i></span>
               <span><i class="icon empty-star"></i></span>
               <span><i class="icon empty-star"></i></span>
               <span class="pull-right">**!%^&*</span>
            </ion-item>
-->
           <ion-item>
               <div class="text-center">
            <h3 style="padding:7px 0;">Rating - Watched it? Rate it!</h3>
        </div>
           </ion-item>
            <ion-item class="pos" ng-click="starrate(0.5);">
                <i class="icon-star half"></i></i><i class="icon-star zero"></i><i class="icon-star zero"></i><i class="icon-star zero"></i><i class="icon-star zero"></i><span class="margin-l">**!%^&*</span>
            </ion-item>
            <ion-item class="pos" ng-click="starrate(1);">
                <i class="icon-star full"></i></i><i class="icon-star zero"></i><i class="icon-star zero"></i><i class="icon-star zero"></i><i class="icon-star zero"></i><span class="margin-l">STARE AT A WALL INSTEAD</span>
            </ion-item>
            <ion-item class="pos" ng-click="starrate(1.5);">
                <i class="icon-star full"></i></i><i class="icon-star half"></i><i class="icon-star zero"></i><i class="icon-star zero"></i><i class="icon-star zero"></i><span class="margin-l">WHY GOD WHY?</span>
            </ion-item>
            <ion-item class="pos" ng-click="starrate(2);">
                <i class="icon-star full"></i></i><i class="icon-star full"></i><i class="icon-star zero"></i><i class="icon-star zero"></i><i class="icon-star zero"></i><span class="margin-l">DO IT UNDER PEER-PRESSURE</span>
            </ion-item>
            <ion-item class="pos" ng-click="starrate(2.5);">
                <i class="icon-star full"></i></i><i class="icon-star full"></i><i class="icon-star half"></i><i class="icon-star zero"></i><i class="icon-star zero"></i><span class="margin-l">*FACE PALM*</span>
            </ion-item>
            <ion-item class="pos" ng-click="starrate(3);">
                <i class="icon-star full"></i></i><i class="icon-star full"></i><i class="icon-star full"></i><i class="icon-star zero"></i><i class="icon-star zero"></i><span class="margin-l">YAY AND NAY</span>
            </ion-item>
            <ion-item class="pos" ng-click="starrate(3.5);">
                <i class="icon-star full"></i></i><i class="icon-star full"></i><i class="icon-star full"></i><i class="icon-star half"></i><i class="icon-star zero"></i><span class="margin-l">ONE TIME WATCH</span>
            </ion-item>
            <ion-item class="pos" ng-click="starrate(4);">
                <i class="icon-star full"></i></i><i class="icon-star full"></i><i class="icon-star full"></i><i class="icon-star full"></i><i class="icon-star zero"></i><span class="margin-l">ME LIKEY!</span>
            </ion-item>
            <ion-item class="pos" ng-click="starrate(4.5);">
                <i class="icon-star full"></i></i><i class="icon-star full"></i><i class="icon-star full"></i><i class="icon-star full"></i><i class="icon-star half"></i><span class="margin-l">LEGENDARY!</span>
            </ion-item>
            <ion-item class="pos" ng-click="starrate(5);">
                <i class="icon-star full"></i></i><i class="icon-star full"></i><i class="icon-star full"></i><i class="icon-star full"></i><i class="icon-star full"></i><span class="margin-l">WATCH IT 5 TIMES MORE</span>
            </ion-item>
            <ion-item>
                 <div class="text-center" ng-click="closeModal();" style="padding:5px 0;cursor:pointer;">Close</div>
            </ion-item>
        </ion-list>
       
    </ion-content>
</ion-view>