<ion-view>
    <ion-content>
        <div class="text-center"><h3>Rating</h3></div>
        <ion-list>
            <ion-item></ion-item>
            <ion-item></ion-item>
            <ion-item></ion-item>
            <ion-item></ion-item>
            <ion-item></ion-item>
            <ion-item></ion-item>
            <ion-item></ion-item>
            <ion-item></ion-item>
            <ion-item></ion-item>
            <ion-item></ion-item>
        </ion-list>
        <div>Close</div>
    </ion-content>
</ion-view>