<ion-view class="bghome">
    <div class="bar bar-header dark-green">
        <h1 class="title">SEARCH RESULTS</h1>
    </div>
    <ion-content class="has-header">

        <ion-list class="menu-list">
            <ion-item ng-repeat="movies in movieres.moviesearch" ng-if="movies.isintheator==1">
                <a href="#/app/details/{{movies.id}}">
                    <img class="new-release" src="img/release.png">
                    <img ng-src="{{movies.image}}" height="auto" width="100%" />
                    <img class="watch-movie" src="img/watch.png" ng-repeat="userwatch in userdetails.watched" ng-if="movies.id==userwatch.id">
                </a>
                <div class="bgwhite detail">
                    
                    {{movies.name}}
                   
                    <span class="f12 pull-right margin-stars">
<!--                        <rating class="ptr-disable" ng-model="movies.rating" max="5"></rating>-->
                        <span class="pos" ng-if="movies.rating==0.5">
                                    <i class="icon half-star s1"></i></i><i class="icon empty-star s2"></i><i class="icon empty-star s3"></i><i class="icon empty-star s4"></i><i class="icon empty-star s5"></i>
                        </span>
                        <span class="pos" ng-if="movies.rating==1">
                            <i class="icon full-star s1"></i></i><i class="icon empty-star s2"></i><i class="icon empty-star s3"></i><i class="icon empty-star s4"></i><i class="icon empty-star s5"></i>
                        </span>
                        <span class="pos" ng-if="movies.rating==1.5">
                            <i class="icon full-star s1"></i></i><i class="icon half-star s2"></i><i class="icon empty-star s3"></i><i class="icon empty-star s4"></i><i class="icon empty-star s5"></i>
                        </span>
                        <span class="pos" ng-if="movies.rating==2">
                            <i class="icon full-star s1"></i></i><i class="icon full-star s2"></i><i class="icon empty-star s3"></i><i class="icon empty-star s4"></i><i class="icon empty-star s5"></i>
                        </span>
                        <span class="pos" ng-if="movies.rating==2.5">
                            <i class="icon full-star s1"></i></i><i class="icon full-star s2"></i><i class="icon half-star s3"></i><i class="icon empty-star s4"></i><i class="icon empty-star s5"></i>
                        </span>
                        <span class="pos" ng-if="movies.rating==3">
                            <i class="icon full-star s1"></i></i><i class="icon full-star s2"></i><i class="icon full-star s3"></i><i class="icon empty-star s4"></i><i class="icon empty-star s5"></i>
                        </span>
                        <span class="pos" ng-if="movies.rating==3.5;">
                            <i class="icon full-star s1"></i></i><i class="icon full-star s2"></i><i class="icon full-star s3"></i><i class="icon half-star s4"></i><i class="icon empty-star s5"></i>
                        </span>
                        <span class="pos" ng-if="movies.rating==4">
                            <i class="icon full-star s1"></i></i><i class="icon full-star s2"></i><i class="icon full-star s3"></i><i class="icon full-star s4"></i><i class="icon empty-star s5"></i>
                        </span>
                        <span class="pos" ng-if="movies.rating==4.5">
                            <i class="icon full-star s1"></i></i><i class="icon full-star s2"></i><i class="icon full-star s3"></i><i class="icon full-star s4"></i><i class="icon half-star s5"></i>
                        </span>
                        <span class="pos" ng-if="movies.rating==5">
                            <i class="icon full-star s1"></i></i><i class="icon full-star s2"></i><i class="icon full-star s3"></i><i class="icon full-star s4"></i><i class="icon full-star s5"></i>
                        </span>
<!--                        <i class="icon ion-star rated"></i><i class="icon ion-star rated"></i><i class="icon ion-star rated"></i><i class="icon ion-star rated"></i><i class="icon ion-star not-rated"></i>-->
                    </span>

                </div>
            
            </ion-item>
            <div class="rale-semibold text-center" ng-if="nomovies==1">
               <h3 class="white"> No Movies Found</h3>
            </div>
        </ion-list>
 </ion-content>
</ion-view>