<ion-view class="bghome">
    <div class="bar bar-header dark-green">
        
<!--        <h1 class="title"><i class="icon ion-ios7-gear mr5"></i>SETTINGS</h1>-->
        <h1 class="title"><i class="icon ion-gear-a mr5 white"></i>SETTINGS</h1>
    </div>
    <ion-content>
        <!--
        <div class="list setting-menu">
            <a class="item item-icon-left  item-icon-right" href="#">
                <i class="icon ion-social-facebook"></i>486 FACEBOOK FRIENDS<i class="icon ion-chevron-right pull-right"></i>
            </a>
        </div>
           <div class="list setting-menu">
            <a class="item item-icon-left  item-icon-right" href="#">
                <i class="icon ion-person"></i>FIND CONTACTS<i class="icon ion-chevron-right pull-right"></i>
            </a>
        </div>
-->

        <ion-list class="setting-menu">
<!--
            <ion-item href="#">
                <i class="icon ion-social-facebook"></i><span class="latosemibold">486</span><span style="margin:5px;">FACEBOOK FRIENDS</span><i class="icon ion-chevron-right pull-right"></i>
            </ion-item>
            <ion-item href="#" class="contact">
                <i class="icon ion-person"></i><span>FIND CONTACTS</span><i class="icon ion-chevron-right pull-right"></i>
            </ion-item>
            <ion-item href="#" class="">
                <span class="font-black">INVITE FRIENDS</span>
            </ion-item>
            <ion-item href="#">
                <span>ACCOUNT</span><i class="icon ion-chevron-right pull-right"></i>
            </ion-item>
-->
<!--
            <ion-item href="#/app/edit" ng-if="uname.logintype!='Facebook' && uname.logintype!='Twitter'">
                <span>EDIT PROFILE</span><i class="icon ion-chevron-right pull-right"></i>
            </ion-item>
            <ion-item href="#/app/changepassword" ng-if="uname.logintype!='Facebook' && uname.logintype!='Twitter'">
                <span>CHANGE PASSWORD</span><i class="icon ion-chevron-right pull-right"></i>
            </ion-item>
-->
            <ion-item>
                <span>PRIVACY POLICY</span><i class="icon ion-chevron-right pull-right"></i>
<!--
                <ion-toggle class="toggle pull-right">
                    <input type="checkbox">
                    <div class="track toggle-bg">
                        <div class="handle toggle-handle"></div>
                    </div>
                </ion-toggle>
-->
            </ion-item>
            <ion-item class="border-b-0">
                <span>TERMS</span><i class="icon ion-chevron-right pull-right"></i>
            </ion-item>
        </ion-list>


    </ion-content>
</ion-view>