<ion-view class="bghome">
    <div class="bar bar-header">
        <i class="icon ion-ios7-gear"></i>
        <h1 class="title ">SETTINGS</h1>
    </div>
    <ion-content>
        <div class="list setting-menu">
            <a class="item item-icon-left  item-icon-right" href="#">
                <i class="icon ion-social-facebook"></i>486 FACEBOOK FRIENDS<i class="icon ion-ios7-arrow-right pull-right"></i>
            </a>
        </div>
            <!--
    <ion-list class="setting-menu">
        <ion-item>
            <i class="icon ion-social-facebook"></i><span>486 FACEBOOK FRIENDS</span><i class="icon ion-ios7-arrow-right pull-right"></i>
        </ion-item>
        <ion-item>
            <i class="icon ion-person"></i><span>FIND CONTACTS</span><i class="icon ion-ios7-arrow-right pull-right"></i>
        </ion-item>
        <ion-item>
            </i><span>INVITE FRIENDS</span><i class="icon ion-ios7-arrow-right pull-right"></i>
        </ion-item>
        
    </ion-list>
-->

    </ion-content>
</ion-view>