<ion-view class="bglogin" ng-controller="LoginJagruti">
   <ion-header-bar class="bar bar-header tac login-hdr">
        <h1 class="title" >SIGN UP</h1>
    </ion-header-bar>
    <ion-content class="has-header">
        
        <div class="social-btns">
            <button type="submit" class="button icon-left fbbgicon ion-social-facebook button-block fb-bg light" ng-click="facebooklogin();">
                <span>Sign up via Facebook</span>
            </button>
            <button type="submit" class="button icon-left twittbgicon ion-social-twitter button-block twitt-bg light" ng-click="twitterlogin();">
                <span>Sign up via Twitter</span>
            </button>
        </div>
        <!--        <hr class="fade-line">-->
       <div class="mtb20 text-center">
            <img src="img/left-hr.png" width="45px"><span class="login-txt rale-regular">OR LOGIN USING EMAIL</span><img src="img/right-hr.png" width="45px">
        </div>
        <ion-list class="login-form">
            <label class="item item-input mt0">
                <input type="text" placeholder="Name" ng-model="user.name">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Email" ng-model="user.email">
            </label>
            <label class="item item-input">
                <input type="password" placeholder="Password" ng-model="user.password">
            </label>
            
            <ion-item class="text-center mt10 padding0" href="">
                <button type="submit" class="button login-btn" ng-click="onsignup(user)">Sign up</button>
            </ion-item>
        
        </ion-list>
        <div class="text-center white mt10 rale-regular">
            Already have an account?<a href="#/login">&nbsp;Login</a>
        </div>
<!--        <div class="fix-height"></div>-->

    </ion-content>
    <div class="bar bar-footer login-ftr">
        <div class="ftr-data rale-regular">By creating an account you agree to Moview's Terms of Service,Privacy policy and Content Policies.</div>
    </div>
</ion-view>