<ion-view class="bghome">
   <div class="bar bar-header dark-green">
        
<!--        <h1 class="title"><i class="icon ion-ios7-gear mr5"></i>SETTINGS</h1>-->
        <h1 class="title">TERMS</h1>
    </div>
    <ion-content>
        <div class="terms pad-10 white raleregular">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            <p> It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
            </p>
        </div>
    </ion-content>
</ion-view>